.btn{
    background-color: cadetblue;
    color: #fff;
    border-radius: 5%;
    border:none
}

.btn-tippy-large{
    width:150px;
    height: 40px;
    font-size: 1.4em;
}

.btn-tippy-medium{
    width:120px;
    height: 35px;
}

.btn-tippy-small{
    width:90px;
    height: 25px;
    font-size: .6em;
}