form{

    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
label{
    color: #272343;
    font-family: 'Noto Serif TC', serif;
    padding-top: .5em;
}
input{
    padding:.375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip:padding-box ;
    border:1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s;
}